{
  "extends": ["taro/react", "eslint:recommended"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin", // 加载插件，使其对代码进行处理
  ],
  "env": {
    "es2020": true,
  },
  "globals": {
    "definePageConfig": "readonly",
    "defineAppConfig": "readonly",
  },
}
