@font-face {
  font-family: "iconfont"; /* Project id 4482582 */
  src: url('iconfont.woff2?t=1713148930844') format('woff2'),
       url('iconfont.woff?t=1713148930844') format('woff'),
       url('iconfont.ttf?t=1713148930844') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lvzhou_lujing_guiji:before {
  content: "\e62b";
}

.icon-like:before {
  content: "\e69c";
}

.icon-fenxiang:before {
  content: "\e66c";
}

.icon-pinglun:before {
  content: "\e618";
}

.icon-zhongdian:before {
  content: "\e624";
}

.icon-start:before {
  content: "\e600";
}

.icon-tingzhi:before {
  content: "\e611";
}

.icon-ditu2:before {
  content: "\e60a";
}

.icon-daochu1024-15:before {
  content: "\e616";
}

.icon-zanting:before {
  content: "\e62a";
}

.icon-dingwei:before {
  content: "\e60e";
}

.icon-hotspot-full:before {
  content: "\e95b";
}

.icon-bicycle-copy:before {
  content: "\e6c9";
}

.icon-home-copy:before {
  content: "\e6c7";
}

.icon-home:before {
  content: "\e612";
}

.icon-wode:before {
  content: "\e6c6";
}

.icon-bicycle:before {
  content: "\e680";
}

.icon-wode-copy:before {
  content: "\e6c8";
}

